.scene {
	width: 500px;
	height: 500px;
	background-color: #ddd;
	position: relative;
}

#car {
	position: absolute;
	width: 75px;
	height: 50px;
	transition: 
		top .3s linear, 
		left .3s linear, 
		transform .3s linear;
	/*background-color: #444;*/
}


.control-panel {
	position: fixed;
	bottom: 0;
}
.control-btn {
	font-size: 40pt;
	/*width: 40px;*/
	/*height: 40px;*/
}

#car:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url(../img/car.png);
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#car.engine-on:before {
	-webkit-animation: shake 1s infinite;
	-o-animation: shake 1s infinite;
	animation: shake 1s infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -0.5px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 0.5px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -0.5px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 0.5px, 0);
  }
}